/*
body {
  font-family: gadugi, serif;
}
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer, .sidebar {
  font-family: gadugi, sans-serif;
}
*/

code {
  color: rgba(0, 0, 0, 0.75);
  background-color: rgba(0,0,0,.05);
  border-radius: 3px;
  padding: 2px 4px;
}

blockquote p{
  font-size: 14px;
}

.content div {
  text-align: justify;
  text-justify: inter-word;
}

p {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

/*  Links inside text */
p a {
  /*color: #0c93e4;*/
  color: rgb(65, 131, 196);
  text-decoration: underline;
  font-weight: normal;
  /*font-style: italic;*/
}

/* visited link */
p a:visited {
  color: darkblue;
}

/* mouse over link */
p a:hover {
  color: hotpink;
  text-decoration: none;
}

/* selected link */
p a:active {
  color: blue;
}






/*.content {
  max-width: 50rem;
  margin-left: 30rem;
}*/

.content a {
  font-weight: normal;
}

/* visited link */
.content a:visited {
  color: darkblue;
}

/* mouse over link */
.content a:hover {
  color: hotpink;
  text-decoration: none;
}

/* selected link */
.content a:active {
  color: blue;
}

